<div class="forgot-password unlogged-area">
    <div *ngIf="invalidToken" class="invalid-token">
        <h1>Link inválido ou expirado</h1>
        <p>Solicite novamente o envio de email de alterar senha</p>
        <a routerLink="/login"><p>Voltar para login</p></a>
    </div>
    <div *ngIf="invalidToken == false" class="form-container">
        <form [formGroup]="form">
            <app-custom-input label="Nova senha" name="new_password" [form]="form" formControlName="new_password" [errors]="formErrors['new_password']"></app-custom-input>
            <app-custom-input label="Confirmar nova senha" name="new_password_confirmation" [form]="form" formControlName="new_password_confirmation" [errors]="formErrors['new_password_confirmation']"></app-custom-input>
        </form>
        <app-custom-submit-button [loading]="formLoading" (submit)="onSubmit()">Enviar</app-custom-submit-button>
        
    </div>
</div>

