<div class="forgot-password unlogged-area">
    <div class="form-container">
        <h4>Iremos lhe enviar um email para você resetar sua senha.</h4>
        <form [formGroup]="form">
            <app-custom-input label="Email" name="email" [form]="form" formControlName="email" [errors]="formErrors['email']"></app-custom-input>
        </form>
        <app-custom-submit-button [loading]="formLoading" (submit)="onSubmit()">Enviar</app-custom-submit-button>
        <div class="bottom-links">
            <a routerLink="/login"><p>Voltar para login</p></a>
        </div>
    </div>
</div>

