<div #customSelect class="custom-select">
    <div [formGroup]="form">
        <div class="select-container" [ngClass]="{'has-value': value !== '', 'has-errors': errors && errors.length > 0, 'disabled': disable}">
            <div class="input-container" [ngClass]="{'opened': showOptions}" (click)="toggleOptions($event)">
                <label *ngIf="label" [htmlFor]="name">{{ label }}</label>
                <div class="selected-option" [ngClass]="{'without-label': label.length === 0}">
                    <img *ngIf="selectedOption && selectedOption.value_img" src="../../../../assets/{{ selectedOption.value_img }}"/>
                    <span *ngIf="selectedOption" >{{ selectedOption.label }}</span>
                </div>
            </div>
            <div *ngIf="showOptions" class="options box">
                <div class="search-container">
                    <input type="text" class="primary search" placeholder="Buscar..." (keyup)="onSearch($event)"/>
                </div>
                <ul>
                    <li (mousedown)="onSelectOption('')">-</li>
                    <li *ngFor="let option of shownOptions" pTooltip="{{option.tooltip}}" [tooltipDisabled]="!option.tooltip" (mousedown)="!disabledOptions.includes(option.value) && onSelectOption(option.value)" [ngClass]="{'disabled': disabledOptions.includes(option.value)}">
                        <img *ngIf="option.value_img" src="../../../../assets/{{ option.value_img }}"/>
                        {{ option.label }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="errors && errors.length > 0" class="errors">
        <p *ngFor="let error of errors" class="error">{{ error }}</p>
    </div>
</div>